body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.header--sec{
    font-weight: 300;
    color: white;
    font-size: 42px;
}
.header--sub{
    color: gray;
    font-size: 21px;
}
.header--sub-header{
    color: white;
    font-size: 21px;
}
.link--cta {
    font-size: 16px;
    color: aquamarine;
}
